.burgermenu {
    opacity: 0;
    width: 48px;
}

body {
    width: 100%;
    height: 100%;
    display: grid;
    margin: 0;
    padding: 0;
    background-color: #004F44;
    color: white;
    font-family: "DM Sans", sans-serif;
    grid-template-areas: "header "
        "main ";
    gap: 3rem;
}

header {
    width: 80%;
    height: 7%;
    grid-area: header;
    padding-left: 10%;
    display: grid;
    font-weight: 100;
    grid-template-areas: "tab logo icons";
    grid-template-columns: 30% auto 15%;
}

.header__tab__div {

    float: left;
    padding-left: 20%;
    width: 100%;

    grid-area: tab;
    text-align: center;

}

.header__tab {
    float: left;
    padding: 10% 6% 0% 6%;
    font-size: 90%;

}

.icons {
    grid-area: icons;
    padding-top: 20%;
    padding-right: 15%;
}

main {
    margin-left: 5%;
    width: 83%;
    height: 70%;
    grid-area: main;
    display: grid;
    grid-template-areas: "main__first__div main__second__div";
    grid-template-columns: 45% 40%;
    padding-left: 11%;
}

#logo {
    padding-left: 40%;
    width: 19%;
    grid-area: logo;
    transform: translate(0, -12%);

}

.clarity--shopping-cart-line {
    display: inline-block;
    width: 28px;
    height: 28px;
    padding-left: 10%;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Ccircle cx='13.33' cy='29.75' r='2.25' fill='%23000' class='clr-i-outline clr-i-outline-path-1'/%3E%3Ccircle cx='27' cy='29.75' r='2.25' fill='%23000' class='clr-i-outline clr-i-outline-path-2'/%3E%3Cpath fill='%23000' d='M33.08 5.37a1 1 0 0 0-.77-.37H11.49l.65 2H31l-2.67 12h-15L8.76 4.53a1 1 0 0 0-.66-.65L4 2.62a1 1 0 1 0-.59 1.92L7 5.64l4.59 14.5l-1.64 1.34l-.13.13A2.66 2.66 0 0 0 9.74 25A2.75 2.75 0 0 0 12 26h16.69a1 1 0 0 0 0-2H11.84a.67.67 0 0 1-.56-1l2.41-2h15.44a1 1 0 0 0 1-.78l3.17-14a1 1 0 0 0-.22-.85' class='clr-i-outline clr-i-outline-path-3'/%3E%3Cpath fill='none' d='M0 0h36v36H0z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;

}

.clarity--search-line {
    display: inline-block;
    width: 28px;
    height: 28px;
    padding-left: 10%;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23000' d='M16.33 5.05A10.95 10.95 0 1 1 5.39 16A11 11 0 0 1 16.33 5.05m0-2.05a13 13 0 1 0 13 13a13 13 0 0 0-13-13' class='clr-i-outline clr-i-outline-path-1'/%3E%3Cpath fill='%23000' d='m35 33.29l-7.37-7.42l-1.42 1.41l7.37 7.42A1 1 0 1 0 35 33.29' class='clr-i-outline clr-i-outline-path-2'/%3E%3Cpath fill='none' d='M0 0h36v36H0z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;

}

.clarity--user-line {
    display: inline-block;
    width: 28px;
    height: 28px;
    padding-left: 10%;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23000' d='M18 17a7 7 0 1 0-7-7a7 7 0 0 0 7 7m0-12a5 5 0 1 1-5 5a5 5 0 0 1 5-5' class='clr-i-outline clr-i-outline-path-1'/%3E%3Cpath fill='%23000' d='M30.47 24.37a17.16 17.16 0 0 0-24.93 0A2 2 0 0 0 5 25.74V31a2 2 0 0 0 2 2h22a2 2 0 0 0 2-2v-5.26a2 2 0 0 0-.53-1.37M29 31H7v-5.27a15.17 15.17 0 0 1 22 0Z' class='clr-i-outline clr-i-outline-path-2'/%3E%3Cpath fill='none' d='M0 0h36v36H0z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;

}

.main__second__div {
    grid-area: main__second__div;
    display: flex;
    gap: 0.3rem;

}


.firstFlower {

    z-index: 1;
    flex: 1;
    position: relative;
}

.seconFlower {
    position: relative;
    z-index: 1;
    flex: 1;
}

.thirdFlower {
    position: relative;

    width: 74%;
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    box-sizing: border-box;

    background: linear-gradient(to top,
            #234A45 0%,
            #2E403D00 100%);
}

.main__first__div {

    grid-area: main__first__div;
}

h1 {
    letter-spacing: 1.5px;
    width: 40%;
    font-size: 9vh;
    font-family: "Poppins", sans-serif;
    font-style: normal;

    line-height: 64px;
}

.main__first__div p {
    letter-spacing: 1.5px;
    width: 70%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.main__button {
    color: #004F44;
    background-color: #EFF7F5;
    width: 23%;
    margin-top: 5%;
    padding: 2.5%;
    box-shadow: 0 4px 80px 3px #03211D;
    text-align: center;
    cursor: pointer;
}

.circles {
    z-index: 0;
    position: absolute;
    left: -63.5%;
    bottom: -7.4%;
}

.circles img {
    width: 100%;
    height: 100%;
}

.main__second__div__lil-flowers {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 1%;

}

.main__second__div__lil-flowers img,
.thirdFlower img {
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__second__div__block {
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    top: 1vh;
    left: 5%;
    font-size: 60%;
    text-align: center;
    padding: 0 7%;
    padding-top: 1.1vh;
    height: 20px;
    letter-spacing: 1px;
    background-color: #004F44;
    z-index: 1;
}

.title {
    font-size: 3.7vh;
    font-weight: 700;
    position: absolute;
    top: 55%;
}

#main__second__div__block__podrob {
    background-color: #FFFFFF;
    color: #004F44;
    letter-spacing: 3.5px;
    font-weight: 700;
    top: 75%;
    height: 12%;
    width: 75%;
    padding-top: 1.8vh;
}

@media(max-width:500px) {
    body {
        width: 100%;
    }

    .icons,
    .header__tab__div,
    .title {
        display: none;
    }

    header {
        grid-template-areas: "logo"
    }

    #logo {
        padding: 0;
        width: 17vh;
    }

    main {
        width: 100%;
        grid-template-areas: "main__second__div "
            "main__first__div";
        grid-template-rows: 1fr 9fr;
        position: relative;
    }

    .main__second__div {
        width: 35vh;
    }

    h1 {
        margin-bottom: 0;
        font-size: 3vh;
        width: 40vh;
        line-height: 10vh;

    }

    .main__second__div__block {
        font-size: 1vh;
        padding-bottom: 1.7vh;
        height: 5%;
    }

    #main__second__div__block__podrob {
        padding: 4% 6% 0 6%;

    }

    .gradient-overlay {
        padding: 0%;
        bottom: -0.2%;
        width: 101%;

    }

    .circles {
        width: 6vh;
        position: absolute;
        margin-bottom: 3%;
        margin-left: 2%;
    }

    .main__first__div p {
        margin-top: 0.5vh;
        font-size: 2vh;
        width: 35vh;
        margin-bottom: 2vh;
    }

    .main__button {
        width: 34vh;
        font-size: 2vh;
        padding: 2vh 0;
        margin-right: 1vh;

    }

    .burgermenu {
        opacity: 1;
        width: 4vh;
        position: absolute;
        left: 85%;
        top: 5.5vh;
    }
}

@media (min-width: 501px) and (max-width: 1400px) {
    body {
        gap: 2rem;
    }

    header {
        width: 100%;
        padding-left: 5%;
        grid-template-columns: 40% 20% 35%; 
        grid-template-areas: "tab logo icons";
        align-items: center;
        justify-content: center;
        height: auto;
        min-height: 80px;
    }

    main {
        width: 80%;       
        padding-left: 5%;
        margin-left: 0;
        grid-template-areas:
            "main__second__div"
            "main__first__div";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 3rem;
        justify-content: center;
    }

    .main__second__div {
        grid-area: main__second__div;
        width: 100%;
        justify-content: center;
        gap: 0.3rem;
        margin-left: 10%;
    }

    .main__first__div {
        grid-area: main__first__div;
        text-align: center;
        width: 100%;
    }

    .main__second__div__lil-flowers {
        width: 35%;
        flex-direction: column;
        gap: 0.3rem;
    }

    .thirdFlower {
        width: 60%;
    }

    .title {
        font-size: 2.8vh;
        top: 55%;
    }

    #main__second__div__block__podrob {
        top: 75%;
        width: 75%;
        height: 12%;
        padding-top: 1.8vh;
        font-size: 3vh;
    }

    .circles {
        left: -50%;
        bottom: -5%;
    }

    .firstFlower,
    .seconFlower {
        height: 48%;
    }

    .main__first__div {
        grid-area: main__first__div;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 10%;
    }

    h1 {
        width: 80%;
        font-size: 64px;
        line-height: 1.3;
        text-align: center;
        margin: 0 auto 2rem auto;
        letter-spacing: 1px;
    }

    .main__first__div p {
        width: 60%;
        text-align: center;
        margin: 0 auto 3rem auto;
        letter-spacing: 1px;
        line-height: 1.5;
        font-size: 2.2vh;
    }

    .main__button {
        width: 40%;
        margin: 0 auto;
        padding: 1.8% 0;
        text-align: center;
        font-size: 3vh;
        letter-spacing: 0.5px;
    }
    
    p{
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.3px;
    }

    .circles{
        left: -70%;
    }

    .title{
        font-size: 4vh;
    }

    #logo{
        width: 50%;
        margin-top: 20%;
    }

    .icons{
        margin-left: 30%;
        margin-top: -10%;
    }

    .header__tab__div{
        margin-left: -8%;
    }
}